
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:visited,
a:link{
    text-decoration: none;
    color: hsl(0, 0%, 0%, 70%);
}

a:hover{
    position: inline;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

body{
    background-color:antiquewhite;
}

.header{
    background-color:bisque;
}

.recipe-nav ul{
    white-space: nowrap;
    padding: 10px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.recipe-nav li{
    display: inline-block;
    width: 20%;
    text-decoration: none;
    font-size: 18px;
}

.recipe-image{
    display: block;
    margin: 10px auto 0 auto;
    padding-top: 27px;
    padding-bottom: 0;
    height: 450px;
    width: auto;
    border-radius: 20%; 
}

.recipe-description{
    line-height: 30px;
    margin: 0 400px;
}

.instructions{
    list-style-position: inside;
    margin-left: 200px;
    margin-right: 200px;
}

li{
    margin-top: 6px;
    margin-bottom: 6px;
}

.back{
    font-size: 12px;
    text-align: left;
}

ul,nav li,ol,p,h1,h2,.recipe-heading{
    text-align: center;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: beige;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.search-bar{
    /*Seems bad for different viewports, still a bit shaky on position and display*/
    position: absolute;
    display: inline-block;
    left: 32%;
    top: 10px;
    padding: 20px;
    width: 500px;
    height: 8px;
    font-size: 20px;
}


#main-heading{
    display: inline-block;
}
