
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:visited,
a:link{
    text-decoration: none;
    color: hsl(0, 0%, 0%, 70%);
}

a:hover{
    position: inline;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

body{
    background-color:antiquewhite;
}

.main-heading{
    border-bottom: 3px solid;
    border-top: 3px solid;
    padding: 10px;
}

.banner{
    background-color:bisque;  
}

.recipe-nav ul{
    white-space: nowrap;
    padding: 30px;
    max-height: 100%;
}

.recipe-nav li{
    display: inline-block;
    width: 30%;
    text-decoration: none;
    font-size: 20px;
}

.recipe-image{
    display: block;
    margin: 10px auto 0 auto;
    padding-top: 27px;
    padding-bottom: 0;
    height: 450px;
    width: auto;
    border-radius: 20%; 
}

.recipe-description{
    line-height: 30px;
    margin: 0 400px;
}

.instructions{
    list-style-position: inside;
    margin-left: 200px;
    margin-right: 200px;
}

li{
    margin-bottom: 15px;
}

ul,nav li,ol,h2,h1,p{
    text-align: center;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: beige;
}
